@model BBC.Models.Review

<h1>Оставить отзыв</h1>

<form asp-action="AddReview" method="post">
    <div class="form-group">
        <label asp-for="Rating">Оценка</label>
        <input asp-for="Rating" class="form-control" />
        <span asp-validation-for="Rating" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Comment">Комментарий</label>
        <textarea asp-for="Comment" class="form-control"></textarea>
        <span asp-validation-for="Comment" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="hidden" asp-for="ProductId" value="@Model.ProductId" />
        <input type="submit" value="Оставить отзыв" class="btn btn-primary" />
    </div>
</form>
